GettingStarted/GettingStartedClient/Connected Services/ServiceReference1/GettingStartedLib.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GettingStartedLib" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GettingStartedLib" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFruit">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Fruit" nillable="true" type="tns:Fruit" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFruit" nillable="true" type="tns:ArrayOfFruit" />
  <xs:complexType name="Fruit">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Fruit" nillable="true" type="tns:Fruit" />
</xs:schema>